!!! 5
- ie_html :lang => 'en', :class => 'no-js' do

  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %title Youth Tree Redesign
    %script{:src => "/javascripts/vendor/modernizr-1.6.min.js"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = render 'javascripts'
    %link{:rel => 'stylesheet', :href => '/stylesheets/youthtree.css'}
  %body
    = render 'network'
    %header#page-header= render 'header'
    #container
      - if request.path =~ /welcome/
        %section#welcome= yield
        %footer#welcome-footer= render 'footer'
      - else
        %section#content= yield
        %footer#page-footer= render 'footer'