#carousel
  %ul
    - ('a'..'n').each do |c|
      = carousel_image c

%h2#mission-statement
  We can see a world where doing good is as mainstream as Cheeseburgers and Breathing.
  
.subsection-container
  .subsection.first
    %h3 About Us
    %ul.section-links
      = ml "What We Do"
      = ml "Mission and Vision"
      = ml "People"
      = ml "History"
  .subsection
    %h3 Volunteer
    %ul.section-links
      %li
        %a{:href => "/general"} Style Guide
      %li
        %a{:href => "/forms"} Forms
      = ml "This is a link with text"
      = ml "This is a link with text"
  .subsection
    %h3 What We Do
    %ul.section-links
      = ml "This is a link with text"
      = ml "This is a link with text"
      = ml "This is a link with text"
      = ml "This is a link with text"
  .subsection.last
    %h3 We're social
    %ul#social-media-icons
      = social_media "Facebook"
      = social_media "Twitter"
      = social_media "Flickr"
      = social_media "LinkedIn"
      = social_media "Vimeo"
      = social_media "YouTube"